/* ============================================================
   СТРАНИЦА 404
   ============================================================ */
.error-page {
    text-align: center;
    padding: 100px 0;
    background: var(--color-bg-light);
    border-radius: var(--radius-lg);
}

.error-page__title {
    font-size: 128px;
    color: var(--color-text-main);
    opacity: 0.1;
    margin-bottom: 20px;
    font-weight: var(--fw-bold);
}

.error-page__subtitle {
    font-weight: var(--fw-bold);
}

.error-page__desc {
    margin-bottom: 30px;
    font-size: 18px;
}

.error-page__buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}


/* ============================================================
   СТРАНИЦА "ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ"
   ============================================================ */
.text-content {
    max-width: 900px;
    margin: 60px auto;
    background: var(--color-bg-card);
    padding: 40px;
    border-radius: var(--radius-lg);
    text-align: justify;
    text-align-last: left;
}

.text-content h3 {
    margin-top: 30px;
    margin-bottom: 10px;
}

.policy-list {
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 10px;
}

.policy-list-indent {
    list-style: disc;
    margin-left: 20px;
}

/* ============================================================
   АДАПТИВНОСТЬ 
   ============================================================ */
@media (max-width: 1024px) {
    .text-content{
        margin: 60px 40px;
    }
}

@media (max-width: 768px) {
    .text-content {
        margin: 40px 20px 0;
        padding: 0 20px 20px;
    }
        
    .btn--privacy{
        margin-top: 20px;
    }
}